<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bsoft.hospital.pub.suzhoumh"
          tools:ignore="ProtectedPermissions">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS">
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS">
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- baidu end -->

    <!-- 访问Intenet权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- sd卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 防止休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 读取通讯录 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 获取运行任务 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 屏幕常亮 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.autofocus"/>

    <!-- 开启闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- baidu push -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <!-- file -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-sdk tools:overrideLibrary="com.daoyixun.location,com.daoyixun.ipsmap"/>

    <!--院内导航需要权限（重复权限已清除）-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name="com.bsoft.hospital.pub.suzhoumh.AppApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_sllogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <!--百度地图定位的apikey-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="HNoCkSD1poO2bgEBs9SGthYgQm89wfkx"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.LoadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.MainTabActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.appoint.SelectDoctorOrDateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.BootPageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.app.insurance.InsuranceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.app.report.reportimg.ImagesGraphicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.appoint.AppointExpertInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.appoint.SelectAppointDateOrProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.appoint.SelectProfileOrAppointActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.clinic.ClinicDetailInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- Satisfaction -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.satisfaction.SatisfactionInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.satisfaction.SatisfactionListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- Account -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.account.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.account.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.account.PasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.account.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- app -->
        <!-- APP pub appoint -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointSelectDeptActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointDeptInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.appoint.AppointTimeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointSelectDoctorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name=".activity.appointment.AppointSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointDoctorInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointSelectDateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.AppointHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- 排队叫号 -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.queue.QueueMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.queue.AllQueueActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.queue.MyQueueActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.queue.MyQueueNewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.queue.QueueDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- 预约挂号 -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.appoint.ChangePeoperActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- APP Report -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.report.LisReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.report.LisReportDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.report.RisReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.report.RisReportDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.report.ReportMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- APP Momitor -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.monitor.MonitorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.monitor.MonitorSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.monitor.MonitorInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.monitor.MonitorListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.monitor.MonitorAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- 健康工具 -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.healthtool.HealthToolActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.healthtool.MedicineSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.healthtool.MedicineDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.healthtool.MedicineRemindActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.healthtool.MedicineRemindAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- consult 咨询 -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.consult.SelectDeptActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.consult.SelectDoctorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.consult.ConsultAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.consult.ConsultDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.consult.ImageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- 健康资讯 -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.news.NewsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.news.NewsDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.news.HospitalNewsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- more -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.more.MoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <receiver
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.healthtool.CallAlarmReceiver">
            <intent-filter>
                <action android:name="com.bsoft.hospital.pub.zssz.medicineremind"/>
            </intent-filter>
        </receiver>

        <!-- doctor -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.schedule.DoctorScheduleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.hosptial.HosptialPageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.hosptial.DeptInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- Map -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.map.HospitalMapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.map.RouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.map.RouteDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- Dynamic -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.dynamic.DynamicDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.dynamic.DynamicCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.dynamic.NoticeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.dynamic.NoticeDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- Message -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.message.MessageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- My -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.SettingAboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.SettingHeaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.SettingMsgActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.SettingAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.SettingPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.insurance.InsuranceInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.note.MyNoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.note.ChargeDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.note.RegisterDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!-- My Info -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyInfoSexActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyInfoNatureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyInfoSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyCardAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyContactsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyContactsAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyMobileBindActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyInfoAddarssActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyInfoAddressChooseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.info.MyInfoAddressStreetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- record -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.record.MyRecordLookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.record.MyRecordTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.record.MyRecordDeptActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.record.MyRecordInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.record.PicInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- family -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.family.MyFamilyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.family.MyFamilyAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.family.MyFamilyEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.family.MyFamilyRelationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.my.family.MyFamilyActivateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!--就诊记录-->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.visit.VisitListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.visit.VisitDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!--住院预缴金-->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.pay.MyAccountRechargeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.pay.MyInHospitalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.pay.ReceiptDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.pay.SZBankActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- 诊间支付 -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.fee.FeeDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.fee.FeeListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.fee.FeePreListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.fee.FeePayedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.fee.FeePayedActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.fee.FeePayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.fee.OneDayListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- 签到取号 -->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.sign.SignListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.sign.FeePayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.sign.RegistrationInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <!--健康体检-->
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.physical.PhysicalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.physical.PhysicalListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.physical.PhysicalDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bsoft.hospital.pub.suzhoumh.activity.app.physical.CenterIntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.charge.ParkingChargesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.cloud.CloudClinicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudAppointmentRegistrationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudSelectionDepartmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.cloud.CloudDepartmentDateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudSelectExpertOrDateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name=".activity.cloud.CloudSelectExpertActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name=".activity.cloud.CloudIntroduceOrScheduleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudAppointmentConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudAppointmentRecordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudWaitingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudSignInActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudPreClearActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudRegistrationInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudConditionDescriptionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activity.cloud.CloudFeePreListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudFeeListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudFeeDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudFeePayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.cloud.CloudFeePayedActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <!-- baidu -->
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.bsoft.hospital.pub.suzhoumh.push.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true"/>
        <!-- 在百度开发者中心百度云推送应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="1Q4Q4DKlYQnVGEa9gl047smj "/>


        <!--友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="597ae20e75ca3520ab0014e8">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="sly">
        </meta-data>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bsoft.hospital.pub.suzhoumh.provider.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver
            android:name=".activity.cloud.receiver.CloudJPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true"/>

</manifest>